<!DOCTYPE html>
<html>
<head>
  <title>Список черг</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    /* For header */
    .header-wrapper {
    background-color: #f2f3c7; 
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    }

    /* For middle part */
    .mid {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      border-radius: 10px;
      background-color: #E0F2F1;
    }

    /* For list */
    .list {
      display: flex;
      justify-content: flex-start;
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      background-color: #F5F5F5;
      border-radius: 10px;
    }

    /* Fist variation  list element */
    .li-0 {
      background-color: #C8E6C9;
      border-radius: 5px;
      min-width: 300px
    }

    /* Second variation list element */
    .li-1 {
      background-color: #a5dfa7;
      border-radius: 5px;
      min-width: 300px
    }

  </style>
  <script>
    $(document).ready(function() {

      // Block button for create new queu when name is null
      $('#createQueueBtn').prop('disabled', true);
      $('#clientName').on('input', function() {
        if ($(this).val() !== '') {
          $('#createQueueBtn').prop('disabled', false);
        } else {
          $('#createQueueBtn').prop('disabled', true);
        }
      });

      // Event handler for create new queue
      $('#createQueueBtn').click(function() {
        const clientName = $('#clientName').val();

        // Send post for create queue
        $.ajax({
          url: '/create',
          method: 'POST',
          data: { userName: clientName },
          success: function(response) {
            const queueId = response.data.id;
            const queueUrl = '/queue/' + queueId;

            // Data for correct join to queue
            const queryString = Object.entries({
              name: clientName,
              // Every new tab have new session id, so we shoud save this id and send it
              sessionId: response.data.hostId
            })
            .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value)}`)
            .join('&');

            // Open new queue in new tab
            window.open(`${queueUrl}?${queryString}`, '_blank');
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log('Error:', errorThrown);
          }
        });
      });

      // Event hendler for join to queue
      function joinQueue() {
        // Block if name is null
        const clientName = $('#clientName').val();
        if (clientName === '') {
          alert("Введіть своє ім'я!");
          return;
        }

        // Get id of queue
        const queueId = $(this).data('queue-id');

        // Data for correct join to queue
        const queryString = Object.entries({
              name: clientName,
            })
            .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value)}`)
            .join('&');

        // Open queue in new tab
        window.open(`/queue/${queueId}?${queryString}`, '_blank');
      };

      // Bind event hendlers for first list element
      $('.queue-item').click(joinQueue);

      // Update list info
      function updateList() {
        $.ajax({
          url: '/update',
          method: 'POST',
          success: function(response) {
            // remove all old list element and create new
            const list = document.getElementById('listUl')
            list.innerHTML = '';

            for (let i = 0; i < response.queues.length; i++) {
              let listElement = document.createElement('li');
              listElement.textContent = `${response.queues[i].queueName}`;

              listElement.dataset.queueId = response.queues[i].id;

              if (i % 2 === 0) {
                listElement.classList.add('li-0');
              } else {
                listElement.classList.add('li-1');
              }

              listElement.addEventListener('click', joinQueue);

              list.appendChild(listElement);
              list.appendChild(listElement);
            }
            // End of creation new list element
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log('Error:', errorThrown);
          }
        });
      }

      updateList();
      // Updating info every 10 second
      setInterval(function() {
        updateList();
      }, 10000);
    });
  </script>
</head>
<body>
  <div class="header-wrapper">
    <h1>Головна сторінка</h1>
  </div>

  <div class="mid">
    <label for="clientName">Ваше ім'я:</label>
    <input type="text" id="clientName" name="clientName">
    <button id="createQueueBtn">Створити нову чергу</button>
  </div>
  
  <div class="list">
    <h2>Існуючі черги:</h2>
    <ul id="listUl">
      <% for (let i=0; i < queues.length; i++) { %>
        <% if (i%2 == 0) { %>
          <li class="queue-item li-0" data-queue-id="<%= queues[i].id %>"><%= queues[i].queueName %></li>
        <% } else { %>
          <li class="queue-item li-1" data-queue-id="<%= queues[i].id %>"><%= queues[i].queueName %></li>
        <% } %>
      <% } %>
    </ul>
  </div>
</body>
</html>
